<!DOCTYPE html>
<html>
  <head>
  <meta charset='UTF-8'>
  <title>Documentation</title>
  <script src='../javascript/application.js'></script>
  <script src='../javascript/search.js'></script>
  <link rel='stylesheet' href='../stylesheets/application.css' type='text/css'>
</head>
  <body>
    <div id='base' data-path='../'></div>
<div id='header'>
  <div id='menu'>
    <a href='../extra/README.md.html' title='Codo'>
      Codo
    </a>
    &raquo;
    <a href='../alphabetical_index.html' title='Index'>
      Index
    </a>
    &raquo;
    <span class='title'>README.md</span>
  </div>
</div>
    <div id='content'>
      <nav class='toc'>
        <p class='title'>
          <a class='hide_toc' href='#'>
            <strong>Table of Contents</strong>
          </a>
          <small>
            (<a class='float_toc' href='#'>left</a>)
          </small>
        </p>
      </nav>
      <div id='filecontents'>
        <h1 id="angular-tau-utilities">Angular Tau Utilities</h1><p><a href="http://badge.fury.io/bo/angular-tau-utils"><img src="https://badge.fury.io/bo/angular-tau-utils.svg" alt="Bower version"></a>
<a href="http://badge.fury.io/js/angular-tau-utils"><img src="https://badge.fury.io/js/angular-tau-utils.svg" alt="NPM version"></a>
<a href="https://travis-ci.org/sibevin/angular-tau-utils"><img src="https://travis-ci.org/sibevin/angular-tau-utils.svg?branch=build" alt="Build Status"></a>
<a href="https://coveralls.io/r/sibevin/angular-tau-utils?branch=cover-check"><img src="https://coveralls.io/repos/sibevin/angular-tau-utils/badge.png?branch=cover-check" alt="Coverage Status"></a></p><p>Utilitis for AngularJS app</p><h2 id="usage">Usage</h2><p>Include <code>angular-tau-utils</code> in your app dependence, then all tau modules are reday to use.</p><pre><code class="lang-js">angular.module(&#39;myApp&#39;, [&#39;angular-tau-utils&#39;])
</code></pre>
<h2 id="tau-modules">Tau Modules</h2><p><code>angular-tau-utils</code> are separated into different tau modules, and you can use them individually. For example, if only <code>tau-switcher</code> is used, you can just add <code>tau-switcher</code> in your app dependence.</p><pre><code class="lang-js">angular.module(&#39;myApp&#39;, [&#39;tau-switcher&#39;])
</code></pre><p>Here is the tua module list:</p><ul>
<li>tau-switcher</li>
</ul>
<h3 id="tau-switcher">tau-switcher</h3><p><code>tau-switcher</code> module provides three services: <code>TabSwitcher</code>, <code>BoolSwitcher</code> and <code>CycleSwitcher</code>.</p><h4 id="tabswitcher">TabSwitcher</h4><p><code>TabSwitcher</code> is a service to handle the tab-switching. A tab can be any kinds of object, but <code>string</code> should be enough to handle most of usage cases.</p><pre><code class="lang-js">ts = new TabSwitcher(); // if no tab is given, the default init tab is &quot;none&quot;

ts.isTab(&quot;none&quot;); // use isTab() to test the current tab and given tab are matched or not.
// true

ts.switch(&quot;home&quot;); // use switch() to switch tab to the given tab
ts.isTab(&quot;home&quot;);
// true
ts.isTab(&quot;none&quot;);
// false

ts.reset(); // use reset() to switch tab to the init tab
ts.isTab(&quot;home&quot;);
// false
ts.isTab(&quot;none&quot;);
// true

ts.switch(&quot;product&quot;);
ts.switch(&quot;product&quot;); // if switch to current tab, the current tab would be reset to init tab
ts.isTab(&quot;product&quot;);
// false
ts.isTab(&quot;none&quot;);
// true

ts.switch(&quot;contact&quot;);
ts.isTab(&quot;contact&quot;);
// true
ts.getTab(); // use getTab() to get the current tab
// &quot;contact&quot;

ts.setTab(&quot;home&quot;); // use setTab() to set the current tab with the given tab
ts.isTab(&quot;home&quot;);
// true
</code></pre><p><code>TabSwitcher</code> is for handling the tab switching between serial of tab bottoms.</p><pre><code class="lang-html">&lt;a ng-click=&quot;ts.switch(&#39;home&#39;)&quot;&gt; Home &lt;/a&gt;
&lt;a ng-click=&quot;ts.switch(&#39;product&#39;)&quot;&gt; Product &lt;/a&gt;
&lt;a ng-click=&quot;ts.switch(&#39;contact&#39;)&quot;&gt; Contact Me &lt;/a&gt;
&lt;div ng-show=&quot;ts.isTab(&#39;home&#39;)&quot;&gt;
  Home
&lt;/div&gt;
&lt;div ng-show=&quot;ts.isTab(&#39;product&#39;)&quot;&gt;
  Product
&lt;/div&gt;
&lt;div ng-show=&quot;ts.isTab(&#39;contact&#39;)&quot;&gt;
  Contact Me
&lt;/div&gt;
</code></pre>
<h4 id="boolswitcher">BoolSwitcher</h4><p><code>BoolSwitcher</code> is a simplified version of <code>TabSwitcher</code>, only for handling boolean values.</p><pre><code class="lang-js">bs = new BoolSwitcher(); // if no tab is given, the default init value is false

bs.getBool(); // use getBool() to get the current boolean value
// false

bs.switch(); // use switch() to switch the boolean value
bs.getBool();
// true

bs.setBool(false); // use setBool() to set the current boolean value with the given value
bs.getBool();
// false

bs.reset(); // use reset() to set the current boolean value to the init value
bs.getBool();
// false
</code></pre><p><code>BoolSwitcher</code> is very useful to create a switching buttom.</p><pre><code class="lang-html">&lt;a ng-click=&quot;bs.switch()&quot;&gt; Show/Hide Information &lt;/a&gt;
&lt;div ng-show=&quot;bs.getBool()&quot;&gt;
  Show some information
&lt;/div&gt;
</code></pre>
<h4 id="cycleswitcher">CycleSwitcher</h4><p><code>CycleSwitcher</code> is a service to handle a serial of ordered tabs, the difference between <code>TabSwitcher</code> and <code>CycleSwitcher</code> is <code>CycleSwitcher</code> must define an array of tabs when creating a <code>CycleSwitcher</code> object, and the current tab in <code>CycleSwitcher</code> only be switched between these tabs.</p><pre><code class="lang-js">tabs = [&quot;case1&quot;, &quot;case2&quot;, &quot;case3&quot;];
cs = new CycleSwitcher(tabs); // create a cycle switcher object with a given tab array
cs.isTab(&quot;case1&quot;); // the default init tab is the first tab in the array
// true

cs.isTab(&quot;case2&quot;); // use isTab() to test the current tab and given tab are matched or not
// false

cs.getTab(); // use getTab() to get the current tab
// &quot;case1&quot;

cs.next(); // use next() to switch tab to the next tab
cs.getTab();
// &quot;case2&quot;
cs.next();
cs.getTab();
// &quot;case3&quot;
cs.next(); // if the current tab is the last tab, call next() would back to the first tab
cs.getTab();
// &quot;case1&quot;

cs.prev(); // use prev() to switch tab to the previous tab, if the current tab is the first tab, call prev() would go to the last tab
cs.getTab();
// &quot;case3&quot;

cs.reset(); // use reset() to switch tab to the init tab
cs.isTab(&quot;case1&quot;);
// true

cs.setTab(&quot;case2&quot;); // use setTab() to set the current tab
cs.isTab(&quot;case2&quot;);
// true
</code></pre><p><code>CycleSwitcher</code> is for handling cycle-switching tabs.</p><pre><code class="lang-html">&lt;a ng-click=&quot;cs.next()&quot;&gt; Next Case &lt;/a&gt;
&lt;div ng-show=&quot;cs.isTab(&#39;case1&#39;)&quot;&gt;
  Case 1
&lt;/div&gt;
&lt;div ng-show=&quot;cs.isTab(&#39;case2&#39;)&quot;&gt;
  Case 2
&lt;/div&gt;
&lt;div ng-show=&quot;cs.isTab(&#39;case3&#39;)&quot;&gt;
  Case 3
&lt;/div&gt;
</code></pre>
<h4 id="pipeswitcher">PipeSwitcher</h4><p><code>PipeSwitcher</code> is a service to handle a serial of ordered tabs, the difference between <code>PipeSwitcher</code> and <code>CycleSwitcher</code> is that <code>PipeSwitcher</code> is not cycled, i.e., when calling <code>next()</code> at the last tab or <code>prev()</code> at the first tab, <code>PipeSwitcher</code> would keep the current tab not changed. Besides, <code>PipeSwitcher</code> can assign the initial tab.</p><pre><code class="lang-js">tabs = [&quot;case1&quot;, &quot;case2&quot;, &quot;case3&quot;];
ps = new PipeSwitcher(tabs, &quot;case2&quot;); // create a pipe switcher object with a given tab array and the initial tab, if no initial tab is given, the first tab would be the initial tab
ps.isTab(&quot;case2&quot;); // the default init tab is the first tab in the array
// true

ps.isTab(&quot;case1&quot;); // use isTab() to test the current tab and given tab are matched or not
// false

ps.getTab(); // use getTab() to get the current tab
// &quot;case2&quot;

ps.next(); // use next() to switch tab to the next tab
ps.getTab();
// &quot;case3&quot;
ps.next(); // if the current tab is the last tab, call next() would do nothing
ps.getTab();
// &quot;case3&quot;
ps.isLast(); // use isLast() to check the current tab is the last tab or not
// true
ps.isFirst(); // use isFirst() to check the current tab is the first tab or not
// false

ps.prev(); // use prev() to switch tab to the previous tab
ps.getTab();
// &quot;case2&quot;
ps.prev();
ps.getTab();
// &quot;case1&quot;
ps.prev(); // if the current tab is the first tab, call prev() would do nothing
ps.getTab();
// &quot;case1&quot;

ps.reset(); // use reset() to switch tab to the init tab
ps.isTab(&quot;case2&quot;);
// true

ps.setTab(&quot;case1&quot;); // use setTab() to set the current tab
ps.isTab(&quot;case1&quot;);
// true
</code></pre><p><code>PipeSwitcher</code> is for handling switching tabs.</p><pre><code class="lang-html">&lt;a ng-click=&quot;ps.prev()&quot; ng-hide=&quot;ps.isFirst()&quot;&gt; Previse Case &lt;/a&gt;
&lt;a ng-click=&quot;ps.next()&quot; ng-hide=&quot;ps.isLast()&quot;&gt; Next Case &lt;/a&gt;
&lt;div ng-show=&quot;ps.isTab(&#39;case1&#39;)&quot;&gt;
  Case 1
&lt;/div&gt;
&lt;div ng-show=&quot;ps.isTab(&#39;case2&#39;)&quot;&gt;
  Case 2
&lt;/div&gt;
&lt;div ng-show=&quot;ps.isTab(&#39;case3&#39;)&quot;&gt;
  Case 3
&lt;/div&gt;
</code></pre>
<h4 id="another-ng-switch-">Another ng-switch ?</h4><p>Sometimes, I just want to show/hide some elements according to some variables, ng-switch seems overwhelming to me. On the other hand, ng-switch creates the sub-scope which may just bring troubles and redundances.</p><h2 id="development">Development</h2><p>Clone the source from the repo</p><pre><code>git clone git@github.com:sibevin/angular-tau-utils.git
</code></pre><p>Prepare development env, install bower and npm packages</p><pre><code>npm install
bower install
</code></pre><p>To build the source</p><pre><code>grunt build
</code></pre><p>To test the source</p><pre><code>grunt test
</code></pre><p>To see the coverage</p><pre><code>grunt cov
</code></pre><h2 id="contributing">Contributing</h2>
<ol>
<li>Fork it ( <a href="https://github.com/sibevin/angular-tau-utils/fork">https://github.com/sibevin/angular-tau-utils/fork</a> )</li>
<li>Create your feature branch (<code>git checkout -b my-new-feature</code>)</li>
<li>Write tests for your code</li>
<li>Commit your changes (both code and tests) (<code>git commit -am &#39;Add some feature&#39;</code>)</li>
<li>Push to the branch (<code>git push origin my-new-feature</code>)</li>
<li>Create a new Pull Request</li>
</ol>
<h2 id="authors">Authors</h2><p>Sibevin Wang</p><h2 id="copyright">Copyright</h2><p>Copyright (c) 2014 Sibevin Wang. Released under the MIT license.</p>
      </div>
    </div>
    <div id='footer'>
  October 21, 14 13:04:37 by
  <a href='https://github.com/coffeedoc/codo' title='CoffeeScript API documentation generator'>
    Codo
  </a>
  2.0.9
  &#10034;
  Press H to see the keyboard shortcuts
  &#10034;
  <a href='http://twitter.com/netzpirat' target='_parent'>@netzpirat</a>
  &#10034;
  <a href='http://twitter.com/_inossidabile' target='_parent'>@_inossidabile</a>
</div>
<iframe id='search_frame'></iframe>
<div id='fuzzySearch'>
  <input type='text'>
  <ol></ol>
</div>
<div id='help'>
  <p>
    Quickly fuzzy find classes, mixins, methods, file:
  </p>
  <ul>
    <li>
      <span>T</span>
      Open fuzzy finder dialog
    </li>
  </ul>
  <p>
    Control the navigation frame:
  </p>
  <ul>
    <li>
      <span>L</span>
      Toggle list view
    </li>
    <li>
      <span>C</span>
      Show class list
    </li>
    <li>
      <span>I</span>
      Show mixin list
    </li>
    <li>
      <span>F</span>
      Show file list
    </li>
    <li>
      <span>M</span>
      Show method list
    </li>
    <li>
      <span>E</span>
      Show extras list
    </li>
  </ul>
  <p>
    You can focus and blur the search input:
  </p>
  <ul>
    <li>
      <span>S</span>
      Focus search input
    </li>
    <li>
      <span>Esc</span>
      Blur search input
    </li>
  </ul>
</div>
  </body>
</html>