/* line 6, ../../src/sass/_base.sass */
body {
  margin: 20px;
}

/* line 10, ../../src/sass/_base.sass */
.ex .tab-page {
  border: 1px solid #eee;
  padding: 12px;
}

/* line 24, ../../src/sass/_base.sass */
p {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 28, ../../src/sass/_base.sass */
.badge-list a {
  padding-right: 5px;
}

/* line 3, ../../src/sass/partials/_ex.sass */
.ex {
  width: 800px;
}
/* line 5, ../../src/sass/partials/_ex.sass */
.ex .ex-tab-menu {
  border: 1px solid #eee;
}
/* line 7, ../../src/sass/partials/_ex.sass */
.ex .ex-tab-menu ul {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}
/* line 15, ../../src/sass/partials/_ex.sass */
.ex .ex-tab-menu ul li {
  display: inline-block;
}
/* line 17, ../../src/sass/partials/_ex.sass */
.ex .ex-tab-menu ul li a {
  padding: 8px 20px;
  display: block;
  cursor: pointer;
}
/* line 21, ../../src/sass/partials/_ex.sass */
.ex .ex-tab-menu ul li a:hover {
  background: #eee;
}
/* line 23, ../../src/sass/partials/_ex.sass */
.ex .ex-tab-menu ul li .active {
  background: #eee;
}
/* line 25, ../../src/sass/partials/_ex.sass */
.ex .ex-tab-menu ul li .disable {
  color: #ddd;
}
/* line 27, ../../src/sass/partials/_ex.sass */
.ex .ex-tab-menu ul li .disable:hover {
  background: #fff;
}
/* line 29, ../../src/sass/partials/_ex.sass */
.ex .ex-tab-page {
  min-height: 200px;
  border: 1px solid #eee;
  padding: 12px;
}
/* line 35, ../../src/sass/partials/_ex.sass */
.ex .ex-switch-btn {
  display: inline-block;
  border: 3px solid #555;
  cursor: pointer;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  width: 63px;
  background: #555;
}
/* line 42, ../../src/sass/partials/_ex.sass */
.ex .ex-switch-btn .sb-bar {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  height: 18px;
  width: 18px;
  background: #999;
  float: left;
}
/* line 49, ../../src/sass/partials/_ex.sass */
.ex .on .sb-bar {
  background: #eee;
  float: right;
}

/* line 7, ../../src/sass/partials/_block.sass */
.block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-top: none;
}

/* line 11, ../../src/sass/partials/_block.sass */
.block-d {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  background: #ddd;
}

/* line 14, ../../src/sass/partials/_block.sass */
.block-dd {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  background: #aaa;
}

/* line 17, ../../src/sass/partials/_block.sass */
.block-bd {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
}

/* line 20, ../../src/sass/partials/_block.sass */
.block-bdd {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
}

/* line 1, ../../src/sass/partials/_badge.sass */
.badge {
  display: inline-block;
  color: #fff;
  background: #999;
  font-weight: bold;
  padding: 8px;
}

/* line 1, ../../src/sass/partials/_mark.sass */
.mk-red {
  color: #dd7777;
}

/* line 3, ../../src/sass/partials/_mark.sass */
.mk-blue {
  color: #7777dd;
}
